

.curiosidades {
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    text-align: left;
    margin-bottom: 40px;
    color: #ffffff;
    font-weight: 700;
  
    display: inline-block;
    padding-bottom: 10px;
}

.li-cs {
    font-size: 20px;
}

.titulo-filme {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #ffdf00;
    margin-top: 35px;
    margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.video-jackson{
margin-top: 60px;
    text-align: center;
    background-color: #141a1f;
    padding: 40px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}