#galeria h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  text-align: left;
  margin-bottom: 40px;
  font-weight: 700;
  border-bottom: 3px solid #656565;
  display: inline-block;
  padding-bottom: 10px;
}

.fotos  {
   font-family: 'Poppins', sans-serif;
    font-size: 22px;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #cccccc; 
}

img {
    display: inline-block;
    margin: 40px 40px 40px;


}

.fundo-filme {
    background-color: black;
}

h1 {
    font-size: 100px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    
}

.fotos p {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #cccccc;
    font-weight: bold;
}




