.menu, .menu2, .menu3, .menu4{

    margin: 50px;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.menu{
    background-color: rgb(156, 202, 146);
}
.menu2{
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../imgLuis/bckAC.webp");
}

.menu3{
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../imgLuis/bckAC.webp");
}

.menu4{
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../imgLuis/bckAC.webp");
}
.tituloh1{
    font-size: 30px;
}


.menuflx{
    display: flex;
}

.descricaoCD {
    margin-left: 30px;
}

.avaliacao {
    margin-bottom: 50px;
    font-size: 18px;
}

video {
    height: 700px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 15px;
}

.sinopseCD{
    font-size: 25px;
    margin-right: 10px;
}

img{
    border-radius: 20px;
    margin: 10px ;
}

.dvideo{
    padding: 10px;
}