
body {
    background-color: #0b1013; 
    color: #f0f0f0;
    font-family: 'Poppins', sans-serif; 
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 20px 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}

.navbar .titulo {
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar .links {
    display: flex;
    gap: 30px;
}

.navbar .links a {
    text-decoration: none;
    color: #e5e5e5;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.navbar .links a:hover {
    color: #ffdf00;
}

.links {
    text-decoration: none;

}

.menu, .menu2, .menu3, .menu4{

    margin: 50px;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.menu{
    background-color: rgb(156, 202, 146);
}
.menu2{
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../imgLuis/bckAC.webp");
}

.menu3{
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../imgLuis/bckAC.webp");
}

.menu4{
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../imgLuis/bckAC.webp");
}
.tituloh1{
    font-size: 30px;
}


.menuflx{
    display: flex;
}

.descricaoCD {
    margin-left: 30px;
}

.avaliacao {
    margin-bottom: 50px;
    font-size: 18px;
}

video {
    height: 700px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 15px;
}

.sinopseCD{
    font-size: 25px;
    margin-right: 10px;
}

img{
    border-radius: 20px;
    margin: 10px ;
}

.dvideo{
    padding: 10px;
}