* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner {
    background-image: url(https://www.al.sp.gov.br/repositorio/noticia/N-11-2020/fg257135.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}



nav {
    background-color: white;
    height: 200px;
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: 55px;
    padding: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    position: fixed;
    top: 0;
}

.links a {
    text-decoration: none;
    font-size: 30px;
    color: rgb(255, 208, 0);
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 50px;
}

.links:hover {
  background-color: green;
  
}

.titulo {
    font-weight: bold;
}

.links:hover {
    color: green;
}

.inicial {
    background-image: linear-gradient(to bottom, #000000, #001aff);
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 800px;
    padding: 100px;
    justify-content: center;
}

p {
    padding: 10px;
color: white;
}

img {
    padding: 10px;
}

.titulo-filme {
    font-weight: bold;

}


.inicial2 {
    background-color: #001aff;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 300px;
    justify-content: center;
}

.titulo-cd {

    font-size: 30px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 800px;
    padding: 100px;

}

.display-flex-cd {
    display: flex;
    background-image: linear-gradient(to top, #ffffff, #001aff);
}

.conteudo-cd {
    font-size: 30px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 800px;
    padding: 100px;
color: white;
}