.menu{
    margin: 10px;
    font-family: 'Poppins', sans-serif;
}

.menuflx{
    display: flex;
}

.descricaoCD {
    border: solid 1px black;
    margin-left: 30px;
}

.avaliacao {
    margin-bottom: 10px;
}

video {
    margin-top: 20px;
    height: 500px;
    object-fit: cover;
}

.sinopseCD{
    font-size: 20px;
}
